include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        div(id="wrapper")
            include includes/sidenav.pug
            div(id="content-wrapper" class="d-flex flex-column")
                div(id="content")
                    include includes/usernav.pug
                    div(class="container")
                        h6.mb-3 Examination available
                        .row.justify-content-center
                            .col-md-10
                                .card
                                    if exams
                                        p.text-small Session | Term | Exam
                                        hr
                                        each exam in exams  
                                            - let examUrl = '/staff/exam/' + exam.examCode + '/courses'
                                            p #[a(href=examUrl class="main-link") #{sessionName[exam.session]} | #{termName[exam.term]} | #{exam.name}]
                                    if noExam
                                        p.text-small #{noExam}

        include includes/footer.pug